/* Normalizar */
*{
  /* box-sizing: border-box; */
  margin: 1px;
  padding: 1px;
  border: 1px solid gray;
}

/* Variables */
:root {
  --color-body: #e5eaee;
  --color-navbar: #77c7f4;
}
/*
--primary: #33e8db;
--normal-size: 14px;
--academy-white: #eee;
--academy-black: #111;
--front-color: #aaa;
--background-gradient: linear-gradient(rgb(), rgb());
*/
body {
    background-color: var(--color-body);
    font-family: arial;
}

.cnavbar {
  background-color: var(--color-navbar);
  height: 80px;
}

.cnavbar__container{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
}

.cnavbar__item--link{
  height: 100%;
  text-decoration: none;
  transform: uppercase;
}


/*
.p_banner {

  background-color: black;
  color: white ;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.programs{
  padding-top: 80px;
  padding-bottom: 80px;
}

.programs__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
}

.programs__card {
  displa: block;
  width: 100;
}

.programs__image {
  width: 100%;
}

.programs__title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid var(--academy-black);
}

.programs__title--double {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.programs_card-div {
  background-color: var(--academy-black);
}

/* */
/** /
section {
  display:grid;
  grid-template-columns: 30% auto max-content 100px 1fr;
}
/** /
section {
  display:grid;
  grid-template-columns: 30% auto max-content 100px 1fr repeat(2, 1fr);
  grid-template-rows: 100px 200px repeat(2, 1fr);
  grid-column-gap: 10px;
}

div {
  background-color: var(--primary);
  font-size: var(--normal-size);
  border: 12px solid black;
  margin: 10px;
  height: 100px;
  width: 100px;
  padding: 10px;
}

div3 {
  background-color: gray;
}
/*
element style {
  box-sizing: content-box;
}
*/
/* * /
@media screen and (max-width:600px) {
  :root {
    --normal-size: 20px;
  }

  .div3 {
    grid-row: 3/4;
    width: 100%;
  }
}
/* Para celulares * /
@media screen and (max-width: 425) {

}

/* si soportas Grid haz .... * /
@supports (display:grid)) {
  .div3 {
    display: grid;
  }
}

@supports not (display:grid)) {
  .div3 {
    display: flex ;
  }
}
*/

/*  ---------------------------------------------------------------- */

/** /

.modal {
  position:fixed;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal__background{
  position:fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image : var(--background-gradient);
}

.modal__card {
  background-color: var(--color-white);

}
/**/
